In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('List of Countries by Sugarcane Production.csv')

In [3]:
df.head()

,Unnamed: 0,Country,Continent,Production (Tons),Production per Person (Kg),Acreage (Hectare),Yield (Kg / Hectare)
0,0,Brazil,South America,768.678.382,"3.668,531",10.226.205,"75.167,5"
1,1,India,Asia,348.448.000,260721,4.950.000,"70.393,5"
2,2,China,Asia,123.059.739,88287,1.675.215,"73.459,1"
3,3,Thailand,Asia,87.468.496,"1.264,303",1.336.575,"65.442,2"
4,4,Pakistan,Asia,65.450.704,324219,1.130.820,57.879

In [4]:
df.shape

(103, 7)

# Data Cleaning

In [11]:
df["Production (Tons)"]=df["Production (Tons)"].str.replace('.',",")
df["Production per Person (Kg)"]=df["Production per Person (Kg)"].str.replace('.',"").str.replace(',',".")
df["Acreage (Hectare)"]=df["Acreage (Hectare)"].str.replace('.',",")
df["Yield (Kg / Hectare)"]=df["Yield (Kg / Hectare)"].str.replace('.',",").str.replace(',',".")

In [12]:
df.head()

,Unnamed: 0,Country,Continent,Production (Tons),Production per Person (Kg),Acreage (Hectare),Yield (Kg / Hectare)
0,0,Brazil,South America,"768,678,382",3668531,"10,226,205",75.167.5
1,1,India,Asia,"348,448,000",260721,"4,950,000",70.393.5
2,2,China,Asia,"123,059,739",88287,"1,675,215",73.459.1
3,3,Thailand,Asia,"87,468,496",1264303,"1,336,575",65.442.2
4,4,Pakistan,Asia,"65,450,704",324219,"1,130,820",57.879