In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('BlackFriday.csv')
del df['Product_Category_2']
del df['Product_Category_3']

In [6]:
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969
...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,6875

In [10]:
#Number of Unique user ids
df['User_ID'].nunique()

5891

In [11]:
#what are the Unique user ids
df['User_ID'].unique()

array([1000001, 1000002, 1000003, ..., 1004113, 1005391, 1001529],
      dtype=int64)

In [13]:
#Number of Unique Product ids
df['Product_ID'].nunique()

3623

In [14]:
#What are the product ids
df['Product_ID'].unique()

array(['P00069042', 'P00248942', 'P00087842', ..., 'P00038842',
       'P00295642', 'P00091742'], dtype=object)

In [15]:
df['Gender'].unique()

array(['F', 'M'], dtype=object)

In [17]:
df['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [18]:
df['Occupation'].unique()

array([10, 16, 15,  7, 20,  9,  1, 12, 17,  0,  3,  4, 11,  8, 19,  2, 18,
        5, 14, 13,  6], dtype=int64)

In [19]:
df['City_Category'].unique()

array(['A', 'C', 'B'], dtype=object)

In [20]:
df['Stay_In_Current_City_Years'].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [21]:
df['Marital_Status'].unique()

array([0, 1], dtype=int64)

In [22]:
df['Product_Category_1'].unique()

array([ 3,  1, 12,  8,  5,  4,  2,  6, 14, 11, 13, 15,  7, 16, 18, 10, 17,
        9], dtype=int64)

In [24]:
df['Purchase'].sum()

5017668378

In [26]:
df['Purchase'].sum()/len(df['Purchase'])

9333.859852635065

In [31]:
for col in df.columns:
    print(col,"-->",df[col].nunique())

User_ID --> 5891
Product_ID --> 3623
Gender --> 2
Age --> 7
Occupation --> 21
City_Category --> 3
Stay_In_Current_City_Years --> 5
Marital_Status --> 2
Product_Category_1 --> 18
Purchase --> 17959